body {
    /*font-family: 'Montserrat', sans-serif;*/
    padding: 0;

}

#footer>div.row {
    margin-bottom: 0;

}

header {
    background-color: #F4ECF7;
    padding: 0;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.menu a:hover {
    text-decoration: underline;
}

.menu li {
    float: left;
    display: inline;
    margin-top: 30px;
}

.menu a {
    text-transform: uppercase;
    color: black;
    padding: 0 7px;
    font-weight: normal;
    font-size: 15px;
    text-decoration: none;
}

.caja {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
}

.caja ul {
    display: flex;
    flex-direction: row;
    text-align: center;
}


.logo {
    width: 60px;
    margin: 20px;
    padding: 0;
}

.caja2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 10px;

}

.caja2 ul {
    display: flex;
    padding: 0;

}


.caja2 ul li div {
    display: flex;
    flex-direction: row;
}

.carrito {
    width: 20px;

}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    margin-top: 0px;
}

.contenedor :hover {
    border-color: #c78c19;
    transform: scale(1.03);
}

.marca {
    text-align: center;
    font-size: 2em;
    margin: 0;
}

.titulo-principal {
    text-align: center;
    margin: 0;
    font-size: 1.5em;

}

.imagen {
    margin: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid hsl(184, 81%, 22%);
}

.descuento {
    text-align: center;
    font-size: 2em;
    margin: 20px;
    text-shadow: 0 0 0.9em hsl(186, 78%, 33%);
}

.descuento:hover {
    transform: scale(1.1);
}



.mision {
    display: flex;
    width: 100%;
    background-color: #F4ECF7;
}

.mision p {
    margin: 50px;
    text-align: center;
    font-weight: bold;
}

.contenido-pagina {

    width: 100%;
    margin-top: 0px;
    display: flex;
}

.contenido-pagina img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 8px 8px 0 #04030483;
}

.informacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.informacion ul,
.informacion li {
    margin: 0;
    padding: 0;
    text-align: left;
}

.text-footer {
    background-color: #F4ECF7;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    padding: 1px;
    font-weight: bold;
}

.tituloNuevo {
    font-size: 2em;
    text-align: center;
    text-shadow: 0 0 0.9em hsl(186, 78%, 33%);
}

.productos {
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 1.5% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.productos img {
    width: 150px;
    height: 150px;

}

.productos li:hover {
    border-color: #c78c19;
    transform: scale(1.1);
}

.productos li:active {
    border-color: #088c19;
}

.producto-descripcion {
    font-size: 18px;
}

.producto-precio {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.carrito-compras {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.lista-compras {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
    text-align: center;

}

.carro {
    font-size: 1.5em;
}

.carrito-compras img {
    width: 150px;
    height: 150px;

}

.producto {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid #000000;
    padding: 10px;


}

.resumen-pedido {
    width: 30%;
    margin: 20px;
    text-align: center;
}

.resumen-pedido-texto {
    width: 100%;
    box-sizing: border-box;
}

.subtotal {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    border: 1px solid #000000;
}

.boton {
    margin: 15px 50px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    background-color: #F4ECF7;


}

.contenido {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formato {
    width: 100%;
    max-width: 450px;
    background-color: #F4ECF7;
    padding: 20px 50px 60px;
    text-align: center;
    border-radius: 25px;
}

.formato h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #000000;
    position: relative;
}

.formato h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #04bd7d;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.campos {
    background-color: #ffffff;
    margin: 15px 0;
    border-radius: 3%;
    display: flex;
    align-items: center;
    transition: max-height 0.5s;
    overflow: hidden;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #000000;
}

input::placeholder {
    color: #000000
}

.campos i {
    margin-left: 15px;
    color: #04bd7d;
}

form p {
    color: #000000;
    text-align: left;
    font-size: 13px;
}

form p a {
    color: #04bd7d;
    margin-left: 5px;
}

.botones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botones button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: #04bd7d;
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.grupos-inputs {
    height: 400px;
}


.botones button.desactivar {
    background-color: #eaeaea;
    color: #2c2f35;
}

.not-display {
    display: none;
}

.enviar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saveButton {
    width: 100%;
    background-color: #04bd7d;
    color: #ffffff;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}